body {
    background-color:#fff;

}
@font-face {
 font-family: 'Courier New', Courier, monospace;
  src:url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand:wght@300&display=swap');
}
nav{
  background-color: rgb(104, 101, 98);
  width: 100%;
  margin: 0 auto;
  
}
.li{
  display: inline;
  color:#fff;
  width: 100% ;
  margin-right: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

  

#logo{
    height: 30px;
    
}
#input{
  float: right;
  display: inline;
}
a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  background-color: #C0D6DF;
}
a:active{
  background-color: rgb(50, 85, 85);
}
#header{
  width: 900px;
  height: 150px;
  float: right;
  background-color: aqua;
  position:static;
}
h2{
  font-size: xx-large;
  justify-content: center;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  width: auto;
}

.card-body{
  color:#181616;
  background-image: url(../main\ image.jpg) ;
  width: auto;
  height: 1200px;
  justify-content: center;
  display: flex;
  text-align: center;
}
footer{
  background-color: rgb(104, 101, 98);
  width: 100%;
  height: auto;
}
#about{
  width: 1300px;
}
p{
 margin: 0px auto;
 font-family: Arial, Helvetica, sans-serif;
 font-size: larger;
}
